<section id="about" class="py-8 px-4 md:pb-24">
  <div class="max-w-5xl mx-auto">
    <div
      class="relative flex flex-col md:flex-row items-center md:items-stretch
      rounded-none md:rounded-xl
      bg-transparent md:bg-[var(--card)]
      border-0 md:border border-[var(--border)]
      shadow-none md:shadow-md md:z-10">
      <!-- Foto -->
      <figure class="shrink-0 w-55 h-55 md:w-72 md:h-auto mb-6 md:mb-0">
        <img
          src="/photo.png"
          alt="Vitor Paloco"
          class="w-full h-full object-cover rounded-full md:rounded-none md:rounded-l-xl border-2 md:border-0 border-[var(--border)] shadow-lg md:shadow-none"
        />
      </figure>

      <!-- Conteúdo -->
      <div class="p-4 md:p-6 flex flex-col justify-between text-center md:text-left">
        <div>
          <h2 class="text-xl font-medium text-[var(--foreground)] mb-4">
            Sobre mim
          </h2>

          <article class="py-4 space-y-4 text-[var(--muted-foreground)] leading-relaxed md:text-left">
            <p class="text-justify">
              Atualmente atuo na área de TI com foco no desenvolvimento de
              projetos utilizando <strong class="text-[var(--primary)]">Low-code, Python e PHP</strong>,
              além da implementação e adaptação de sistemas open-source para
              diferentes cenários.
            </p>

            <p class="text-justify">
              Também possuo experiência na área de dados, trabalhando com
              plataformas como
              <strong class="text-[var(--primary)]">SAP</strong>
              e bancos relacionais, com conhecimento em
              <strong class="text-[var(--primary)]">
                PostgreSQL, MySQL e SAP HANA
              </strong>.
            </p>

            <p class="text-justify">
              Venho ampliando minha atuação em infraestrutura e DevOps com
              <strong class="text-[var(--primary)]">Docker</strong>,
              automação de ambientes e integração de soluções, além de
              experiência em suporte técnico
              <strong class="text-[var(--primary)]">N1 a N3</strong>.
            </p>
          </article>
        </div>

        <div class="pt-5 flex justify-center md:justify-end">
          <a
            href="https://linkedin.com/in/vitor-paloco"
            target="_blank"
            class="px-4 py-2 rounded-lg border border-[var(--primary)] text-[var(--primary)] text-sm font-medium hover:bg-[var(--primary)] hover:text-white transition"
          >
            Saiba mais
          </a>
        </div>
      </div>
    </div>
  </div>
</section>